* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jpt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#text/plain
/DDL[!!-~]JPA[!!-~]Create.sql -text svneol=unset#text/plain
/DDL[!!-~]JPA[!!-~]Drop.sql -text svneol=unset#text/plain
/createDDL_ddlGeneration.jdbc -text
/dropDDL_ddlGeneration.jdbc -text
/juegostore.sql -text svneol=unset#text/plain
/mysql-connector-java-5.1.38-bin.jar -text
src/META-INF/persistence.xml -text svneol=unset#text/plain
src/integracion/cliente/DAOCliente.java -text svneol=unset#text/plain
src/integracion/cliente/imp/DAOClienteImp.java -text svneol=unset#text/plain
src/integracion/compra/DAOCompra.java -text svneol=unset#text/plain
src/integracion/compra/imp/DAOCompraImp.java -text svneol=unset#text/plain
src/integracion/factoriaDao/FactoriaDAO.java -text svneol=unset#text/plain
src/integracion/factoriaDao/imp/FactoriaDAOImp.java -text svneol=unset#text/plain
src/integracion/query/Query.java -text svneol=unset#text/plain
src/integracion/query/factory/FactoriaQuery.java -text svneol=unset#text/plain
src/integracion/query/factory/FactoriaQueryImp.java -text svneol=unset#text/plain
src/integracion/query/imp/CantidadVideojuegosQuery.java -text svneol=unset#text/plain
src/integracion/query/imp/NumeroClientesQuery.java -text svneol=unset#text/plain
src/integracion/transactionManager/Transaction.java -text svneol=unset#text/plain
src/integracion/transactionManager/TransactionFactory.java -text svneol=unset#text/plain
src/integracion/transactionManager/TransactionFactoryImp.java -text svneol=unset#text/plain
src/integracion/transactionManager/TransactionManager.java -text svneol=unset#text/plain
src/integracion/transactionManager/TransactionManagerImp.java -text svneol=unset#text/plain
src/integracion/transactionManager/TransactionMySQL.java -text svneol=unset#text/plain
src/integracion/videojuego/DAOVideojuego.java -text svneol=unset#text/plain
src/integracion/videojuego/imp/DAOVideojuegoImp.java -text svneol=unset#text/plain
src/main/Main.java -text svneol=unset#text/plain
src/negocio/cliente/ServicioAplicacionCliente.java -text svneol=unset#text/plain
src/negocio/cliente/imp/ServicioAplicacionClienteImp.java -text svneol=unset#text/plain
src/negocio/cliente/imp/TransferCliente.java -text svneol=unset#text/plain
src/negocio/compra/ServicioAplicacionCompra.java -text svneol=unset#text/plain
src/negocio/compra/imp/ServicioAplicacionCompraImp.java -text svneol=unset#text/plain
src/negocio/compra/imp/TransferCompra.java -text svneol=unset#text/plain
src/negocio/compra/imp/TransferLineaDeCompra.java -text svneol=unset#text/plain
src/negocio/empleado/ServicioAplicacionEmpleado.java -text svneol=unset#text/plain
src/negocio/empleado/imp/ServicioAplicacionEmpleadoImp.java -text svneol=unset#text/plain
src/negocio/empleado/imp/TransferDependiente.java -text svneol=unset#text/plain
src/negocio/empleado/imp/TransferEmpleado.java -text svneol=unset#text/plain
src/negocio/empleado/imp/TransferEspecialista.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Dependiente.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Empleado.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Especialista.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Presupuesto.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/PresupuestoId.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Seccion.java -text svneol=unset#text/plain
src/negocio/entidadesJPA/Tienda.java -text svneol=unset#text/plain
src/negocio/factoriaSA/FactoriaServicioAplicacion.java -text svneol=unset#text/plain
src/negocio/factoriaSA/FactoriaServicioAplicacionImp.java -text svneol=unset#text/plain
src/negocio/seccion/ServicioAplicacionSeccion.java -text svneol=unset#text/plain
src/negocio/seccion/imp/ServicioAplicacionSeccionImp.java -text svneol=unset#text/plain
src/negocio/seccion/imp/TransferSeccion.java -text svneol=unset#text/plain
src/negocio/tienda/ServicioAplicacionTienda.java -text svneol=unset#text/plain
src/negocio/tienda/imp/ServicioAplicacionTiendaImp.java -text svneol=unset#text/plain
src/negocio/tienda/imp/TransferPresupuesto.java -text svneol=unset#text/plain
src/negocio/tienda/imp/TransferTienda.java -text svneol=unset#text/plain
src/negocio/videojuego/ServicioAplicacionVideojuego.java -text svneol=unset#text/plain
src/negocio/videojuego/imp/ServicioAplicacionVideojuegoImp.java -text svneol=unset#text/plain
src/negocio/videojuego/imp/TransferVideojuego.java -text svneol=unset#text/plain
src/negocio/videojuego/imp/TransferVideojuegoConsola.java -text svneol=unset#text/plain
src/negocio/videojuego/imp/TransferVideojuegoPC.java -text svneol=unset#text/plain
src/presentacion/ListaComandos.java -text svneol=unset#text/plain
src/presentacion/comandos/Comando.java -text svneol=unset#text/plain
src/presentacion/comandos/FactoriaDeComandos.java -text svneol=unset#text/plain
src/presentacion/comandos/FactoriaDeComandosImp.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAgregarArticuloCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAltaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAltaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAltaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAltaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAltaVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAsignarPresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioAsignarSeccionTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioBajaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioBajaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioBajaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioBajaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioBajaVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioCalcularNominaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioCantidadVideojuegosComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDesasignarSeccionTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetallePresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDetalleVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioDevolucionCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioEliminarArticuloCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioFinalizarCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioGestionCarritoCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaPresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioListaVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioModificarClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioModificarEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioModificarSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioModificarTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioModificarVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/NegocioNumeroClientesComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAgregarArticuloCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaVideojuegoConsolaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAltaVideojuegoPCComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAsignarPresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaAsignarSeccionTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBajaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBajaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBajaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBajaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBajaVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBotoneraEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBotoneraSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaBotoneraTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaCalcularNominaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaCantidadVideojuegosQueryComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDesasignarSeccionTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetallePresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDetalleVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaDevolucionCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaEliminarArticuloCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaGestionCarritoCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaIniciarCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaPresupuestoTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaListaVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarEmpleadoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarSeccionComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarTiendaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarVideojuegoConsolaComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaModificarVideojuegoPCComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaNumeroClientesQueryComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaPrincipalClienteComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaPrincipalCompraComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaPrincipalVideojuegoComando.java -text svneol=unset#text/plain
src/presentacion/comandos/imp/VistaVentanaPrincipalComando.java -text svneol=unset#text/plain
src/presentacion/controlador/Contexto.java -text svneol=unset#text/plain
src/presentacion/controlador/Controlador.java -text svneol=unset#text/plain
src/presentacion/controlador/ControladorImp.java -text svneol=unset#text/plain
src/presentacion/controlador/PareadoQuery.java -text svneol=unset#text/plain
src/presentacion/dispatcher/Dispatcher.java -text svneol=unset#text/plain
src/presentacion/dispatcher/DispatcherImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/VistaCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/VistaClienteImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameAltaCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameBajaCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameDetalleCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameListaCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameModificarCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFrameNumeroClientes.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCliente/cliente/JFramePrincipalCliente.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/VistaCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/VistaCompraImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameAgregarArticulo.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameDetalleCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameDevolucionCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameEliminarArticulo.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameGestionCarrito.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameIniciarCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFrameListaCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaCompra/compra/JFramePrincipalCompra.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/VistaEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/VistaEmpleadoImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameAltaEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameBajaEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameBotoneraEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameDetalleEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameListaEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaEmpleado/empleado/JFrameModificarEmpleado.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaPrincipal/VistaPrincipal.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaPrincipal/VistaPrincipalImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaPrincipal/principal/JFramePrincipal.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/VistaSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/VistaSeccionImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameAltaSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameBajaSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameCalcularNominaSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameDetalleSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameListaSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFrameModificarSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaSeccion/seccion/JFramePrincipalSeccion.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/VistaTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/VistaTiendaImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameAltaTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameAsignarPresupuestoTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameAsignarSeccionTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameBajaTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameBotoneraTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameDesasignarSeccionTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameDetallePresupuestoTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameDetalleTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameListaPresupuestoTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameListaTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaTienda/tienda/JFrameModificarTienda.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/VistaVideojuego.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/VistaVideojuegoImp.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameAltaVideojuegoConsola.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameAltaVideojuegoPC.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameBajaVideojuego.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameCantidadVideojuegos.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameDetalleVideojuego.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameListaVideojuego.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameModificarVideojuegoConsola.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFrameModificarVideojuegoPC.java -text svneol=unset#text/plain
src/presentacion/vistas/vistaVideojuego/videojuego/JFramePrincipalVideojuego.java -text svneol=unset#text/plain
