* text=auto !eol
/aTodaLaClase.pdf -text
/juego[!!-~]store[!!-~]dao[!!-~]4.pdf -text
/juego[!!-~]store[!!-~]jpa[!!-~]4.pdf -text
/juego[!!-~]store[!!-~]jpa.pdf -text
/juegoStore[!!-~]dao.pdf -text
/juegostoreSRS.pdf -text
